entrypoint = "anotherProject.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cl-launch"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "anotherProject.py"]
deploymentTarget = "cloudrun"
